HOME_IOT/SMART_HOME_WS/SMART_HOME_WS_TESTER/Connected Services/SH_WS_Pruebas/SH_WS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Lecturas_Insertar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NOMBRE_DISP" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="TEMPERATURA_ACTUAL" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="HUMEDAD" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Lecturas_InsertarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Lecturas_InsertarResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Lecturas_ultimas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="cantidad" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Lecturas_ultimasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Lecturas_ultimasResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Lecturas_Entre_Fechas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FechaIni" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="FechaFin" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Lecturas_Entre_FechasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Lecturas_Entre_FechasResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Lecturas_Fecha">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FechaIni" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Lecturas_FechaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Lecturas_FechaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Servidor_Fecha">
        <s:complexType />
      </s:element>
      <s:element name="Servidor_FechaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Servidor_FechaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Dispositivos_Configuración">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NombreDispositivo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Dispositivos_ConfiguraciónResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Dispositivos_ConfiguraciónResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Dispositivos_Nuevo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NOMBRE_DISP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ROL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LOCALIZACION" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MODELO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="USUARIO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PWD" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Dispositivos_NuevoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Dispositivos_NuevoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="int" type="s:int" />
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="boolean" type="s:boolean" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Lecturas_InsertarSoapIn">
    <wsdl:part name="parameters" element="tns:Lecturas_Insertar" />
  </wsdl:message>
  <wsdl:message name="Lecturas_InsertarSoapOut">
    <wsdl:part name="parameters" element="tns:Lecturas_InsertarResponse" />
  </wsdl:message>
  <wsdl:message name="Lecturas_ultimasSoapIn">
    <wsdl:part name="parameters" element="tns:Lecturas_ultimas" />
  </wsdl:message>
  <wsdl:message name="Lecturas_ultimasSoapOut">
    <wsdl:part name="parameters" element="tns:Lecturas_ultimasResponse" />
  </wsdl:message>
  <wsdl:message name="Lecturas_Entre_FechasSoapIn">
    <wsdl:part name="parameters" element="tns:Lecturas_Entre_Fechas" />
  </wsdl:message>
  <wsdl:message name="Lecturas_Entre_FechasSoapOut">
    <wsdl:part name="parameters" element="tns:Lecturas_Entre_FechasResponse" />
  </wsdl:message>
  <wsdl:message name="Lecturas_FechaSoapIn">
    <wsdl:part name="parameters" element="tns:Lecturas_Fecha" />
  </wsdl:message>
  <wsdl:message name="Lecturas_FechaSoapOut">
    <wsdl:part name="parameters" element="tns:Lecturas_FechaResponse" />
  </wsdl:message>
  <wsdl:message name="Servidor_FechaSoapIn">
    <wsdl:part name="parameters" element="tns:Servidor_Fecha" />
  </wsdl:message>
  <wsdl:message name="Servidor_FechaSoapOut">
    <wsdl:part name="parameters" element="tns:Servidor_FechaResponse" />
  </wsdl:message>
  <wsdl:message name="Dispositivos_ConfiguraciónSoapIn">
    <wsdl:part name="parameters" element="tns:Dispositivos_Configuración" />
  </wsdl:message>
  <wsdl:message name="Dispositivos_ConfiguraciónSoapOut">
    <wsdl:part name="parameters" element="tns:Dispositivos_ConfiguraciónResponse" />
  </wsdl:message>
  <wsdl:message name="Dispositivos_NuevoSoapIn">
    <wsdl:part name="parameters" element="tns:Dispositivos_Nuevo" />
  </wsdl:message>
  <wsdl:message name="Dispositivos_NuevoSoapOut">
    <wsdl:part name="parameters" element="tns:Dispositivos_NuevoResponse" />
  </wsdl:message>
  <wsdl:message name="Lecturas_InsertarHttpGetIn">
    <wsdl:part name="NOMBRE_DISP" type="s:string" />
    <wsdl:part name="TEMPERATURA_ACTUAL" type="s:string" />
    <wsdl:part name="HUMEDAD" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Lecturas_InsertarHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="Lecturas_ultimasHttpGetIn">
    <wsdl:part name="cantidad" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Lecturas_ultimasHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Lecturas_Entre_FechasHttpGetIn">
    <wsdl:part name="FechaIni" type="s:string" />
    <wsdl:part name="FechaFin" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Lecturas_Entre_FechasHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Lecturas_FechaHttpGetIn">
    <wsdl:part name="FechaIni" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Lecturas_FechaHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Servidor_FechaHttpGetIn" />
  <wsdl:message name="Servidor_FechaHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Dispositivos_ConfiguraciónHttpGetIn">
    <wsdl:part name="NombreDispositivo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Dispositivos_ConfiguraciónHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Dispositivos_NuevoHttpGetIn">
    <wsdl:part name="NOMBRE_DISP" type="s:string" />
    <wsdl:part name="IP" type="s:string" />
    <wsdl:part name="ROL" type="s:string" />
    <wsdl:part name="LOCALIZACION" type="s:string" />
    <wsdl:part name="MODELO" type="s:string" />
    <wsdl:part name="USUARIO" type="s:string" />
    <wsdl:part name="PWD" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Dispositivos_NuevoHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="Lecturas_InsertarHttpPostIn">
    <wsdl:part name="NOMBRE_DISP" type="s:string" />
    <wsdl:part name="TEMPERATURA_ACTUAL" type="s:string" />
    <wsdl:part name="HUMEDAD" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Lecturas_InsertarHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="Lecturas_ultimasHttpPostIn">
    <wsdl:part name="cantidad" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Lecturas_ultimasHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Lecturas_Entre_FechasHttpPostIn">
    <wsdl:part name="FechaIni" type="s:string" />
    <wsdl:part name="FechaFin" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Lecturas_Entre_FechasHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Lecturas_FechaHttpPostIn">
    <wsdl:part name="FechaIni" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Lecturas_FechaHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Servidor_FechaHttpPostIn" />
  <wsdl:message name="Servidor_FechaHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Dispositivos_ConfiguraciónHttpPostIn">
    <wsdl:part name="NombreDispositivo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Dispositivos_ConfiguraciónHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Dispositivos_NuevoHttpPostIn">
    <wsdl:part name="NOMBRE_DISP" type="s:string" />
    <wsdl:part name="IP" type="s:string" />
    <wsdl:part name="ROL" type="s:string" />
    <wsdl:part name="LOCALIZACION" type="s:string" />
    <wsdl:part name="MODELO" type="s:string" />
    <wsdl:part name="USUARIO" type="s:string" />
    <wsdl:part name="PWD" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Dispositivos_NuevoHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:portType name="SH_WSSoap">
    <wsdl:operation name="Lecturas_Insertar">
      <wsdl:input message="tns:Lecturas_InsertarSoapIn" />
      <wsdl:output message="tns:Lecturas_InsertarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Lecturas_ultimas">
      <wsdl:input message="tns:Lecturas_ultimasSoapIn" />
      <wsdl:output message="tns:Lecturas_ultimasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Lecturas_Entre_Fechas">
      <wsdl:input message="tns:Lecturas_Entre_FechasSoapIn" />
      <wsdl:output message="tns:Lecturas_Entre_FechasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Lecturas_Fecha">
      <wsdl:input message="tns:Lecturas_FechaSoapIn" />
      <wsdl:output message="tns:Lecturas_FechaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Servidor_Fecha">
      <wsdl:input message="tns:Servidor_FechaSoapIn" />
      <wsdl:output message="tns:Servidor_FechaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Dispositivos_Configuración">
      <wsdl:input message="tns:Dispositivos_ConfiguraciónSoapIn" />
      <wsdl:output message="tns:Dispositivos_ConfiguraciónSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Dispositivos_Nuevo">
      <wsdl:input message="tns:Dispositivos_NuevoSoapIn" />
      <wsdl:output message="tns:Dispositivos_NuevoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SH_WSHttpGet">
    <wsdl:operation name="Lecturas_Insertar">
      <wsdl:input message="tns:Lecturas_InsertarHttpGetIn" />
      <wsdl:output message="tns:Lecturas_InsertarHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Lecturas_ultimas">
      <wsdl:input message="tns:Lecturas_ultimasHttpGetIn" />
      <wsdl:output message="tns:Lecturas_ultimasHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Lecturas_Entre_Fechas">
      <wsdl:input message="tns:Lecturas_Entre_FechasHttpGetIn" />
      <wsdl:output message="tns:Lecturas_Entre_FechasHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Lecturas_Fecha">
      <wsdl:input message="tns:Lecturas_FechaHttpGetIn" />
      <wsdl:output message="tns:Lecturas_FechaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Servidor_Fecha">
      <wsdl:input message="tns:Servidor_FechaHttpGetIn" />
      <wsdl:output message="tns:Servidor_FechaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Dispositivos_Configuración">
      <wsdl:input message="tns:Dispositivos_ConfiguraciónHttpGetIn" />
      <wsdl:output message="tns:Dispositivos_ConfiguraciónHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Dispositivos_Nuevo">
      <wsdl:input message="tns:Dispositivos_NuevoHttpGetIn" />
      <wsdl:output message="tns:Dispositivos_NuevoHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SH_WSHttpPost">
    <wsdl:operation name="Lecturas_Insertar">
      <wsdl:input message="tns:Lecturas_InsertarHttpPostIn" />
      <wsdl:output message="tns:Lecturas_InsertarHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Lecturas_ultimas">
      <wsdl:input message="tns:Lecturas_ultimasHttpPostIn" />
      <wsdl:output message="tns:Lecturas_ultimasHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Lecturas_Entre_Fechas">
      <wsdl:input message="tns:Lecturas_Entre_FechasHttpPostIn" />
      <wsdl:output message="tns:Lecturas_Entre_FechasHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Lecturas_Fecha">
      <wsdl:input message="tns:Lecturas_FechaHttpPostIn" />
      <wsdl:output message="tns:Lecturas_FechaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Servidor_Fecha">
      <wsdl:input message="tns:Servidor_FechaHttpPostIn" />
      <wsdl:output message="tns:Servidor_FechaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Dispositivos_Configuración">
      <wsdl:input message="tns:Dispositivos_ConfiguraciónHttpPostIn" />
      <wsdl:output message="tns:Dispositivos_ConfiguraciónHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Dispositivos_Nuevo">
      <wsdl:input message="tns:Dispositivos_NuevoHttpPostIn" />
      <wsdl:output message="tns:Dispositivos_NuevoHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SH_WSSoap" type="tns:SH_WSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Lecturas_Insertar">
      <soap:operation soapAction="http://tempuri.org/Lecturas_Insertar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Lecturas_ultimas">
      <soap:operation soapAction="http://tempuri.org/Lecturas_ultimas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Lecturas_Entre_Fechas">
      <soap:operation soapAction="http://tempuri.org/Lecturas_Entre_Fechas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Lecturas_Fecha">
      <soap:operation soapAction="http://tempuri.org/Lecturas_Fecha" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Servidor_Fecha">
      <soap:operation soapAction="http://tempuri.org/Servidor_Fecha" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Dispositivos_Configuración">
      <soap:operation soapAction="http://tempuri.org/Dispositivos_Configuración" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Dispositivos_Nuevo">
      <soap:operation soapAction="http://tempuri.org/Dispositivos_Nuevo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SH_WSSoap12" type="tns:SH_WSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Lecturas_Insertar">
      <soap12:operation soapAction="http://tempuri.org/Lecturas_Insertar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Lecturas_ultimas">
      <soap12:operation soapAction="http://tempuri.org/Lecturas_ultimas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Lecturas_Entre_Fechas">
      <soap12:operation soapAction="http://tempuri.org/Lecturas_Entre_Fechas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Lecturas_Fecha">
      <soap12:operation soapAction="http://tempuri.org/Lecturas_Fecha" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Servidor_Fecha">
      <soap12:operation soapAction="http://tempuri.org/Servidor_Fecha" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Dispositivos_Configuración">
      <soap12:operation soapAction="http://tempuri.org/Dispositivos_Configuración" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Dispositivos_Nuevo">
      <soap12:operation soapAction="http://tempuri.org/Dispositivos_Nuevo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SH_WSHttpGet" type="tns:SH_WSHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Lecturas_Insertar">
      <http:operation location="/Lecturas_Insertar" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Lecturas_ultimas">
      <http:operation location="/Lecturas_ultimas" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Lecturas_Entre_Fechas">
      <http:operation location="/Lecturas_Entre_Fechas" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Lecturas_Fecha">
      <http:operation location="/Lecturas_Fecha" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Servidor_Fecha">
      <http:operation location="/Servidor_Fecha" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Dispositivos_Configuración">
      <http:operation location="/Dispositivos_Configuración" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Dispositivos_Nuevo">
      <http:operation location="/Dispositivos_Nuevo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SH_WSHttpPost" type="tns:SH_WSHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Lecturas_Insertar">
      <http:operation location="/Lecturas_Insertar" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Lecturas_ultimas">
      <http:operation location="/Lecturas_ultimas" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Lecturas_Entre_Fechas">
      <http:operation location="/Lecturas_Entre_Fechas" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Lecturas_Fecha">
      <http:operation location="/Lecturas_Fecha" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Servidor_Fecha">
      <http:operation location="/Servidor_Fecha" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Dispositivos_Configuración">
      <http:operation location="/Dispositivos_Configuración" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Dispositivos_Nuevo">
      <http:operation location="/Dispositivos_Nuevo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SH_WS">
    <wsdl:port name="SH_WSSoap" binding="tns:SH_WSSoap">
      <soap:address location="https://localhost:44379/SH_WS.asmx" />
    </wsdl:port>
    <wsdl:port name="SH_WSSoap12" binding="tns:SH_WSSoap12">
      <soap12:address location="https://localhost:44379/SH_WS.asmx" />
    </wsdl:port>
    <wsdl:port name="SH_WSHttpGet" binding="tns:SH_WSHttpGet">
      <http:address location="https://localhost:44379/SH_WS.asmx" />
    </wsdl:port>
    <wsdl:port name="SH_WSHttpPost" binding="tns:SH_WSHttpPost">
      <http:address location="https://localhost:44379/SH_WS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>